* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

header {
    background-image: url("../img/background1.png");
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@media (max-width:1160px){
    .container{
        width: 1040px;
    }
}
@media (max-width:1060px){
    .container{
        width: 940px;
    }
}
@media (max-width:960px){
    .container{
        width: 840px;
    }
}
@media (max-width:860px){
    .container{
        width: 740px;
    }
}
@media (max-width:760px){
    .container{
        width: 640px;
    }
}
@media (max-width:660px){
    .container{
        width: 540px;
    }
}
@media (max-width: 560px){
    .container{
        width: 440px;
    }
}
@media (max-width:460px){
    .container{
        width: 340px;
    }
}

header .navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header .navbar .container .nav_h2 {
    color: white;
    font-family: sans-serif;
    font-weight: 400;
    padding: 10px 0 10px;
}

.nav_a {
    margin: 10px;
    transition: .3s;
    cursor: pointer;
    color: #fff;
}

.nav_a:hover {
    color: #dd783f;
}

.main {
    text-align: center;
    padding: 100px;
}

.main_h1 {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 18px;
}

.main_a {
    color: #dd783f;
    border: 1px solid #dd783f;
    padding: 10px;
    margin-top: 50px;
    transition: .3s;
    cursor: pointer;
}

.main_a:hover {
    background-color: #dd783f;
    color: #fff;
}

.navbar2 .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect_title {
    display: flex;
    margin-top: 20px;
}

.sect_li {
    margin-left: 80px;
}

.sect_a {
    color: #768088;
    font-size: 14px;
    transition: .5s;
}

.sect_a:hover {
    color: #111;
}

.sect_hr1 {
    width: 188px;
    height: 1px;
    margin-left: 480px;
    margin-top: 26px;
    color: #DEDEDE;
    transition: 1s;
}

.sect_hr1:hover {
    width: 250px;
    height: 1px;
}

.section_h2 {
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 60px;
    font-family: 'Oxygen';
}

.section_div1 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: #fff;
}

 
.section_img1 {
    background-image: url("../img/section1.png");
    height: 280px;  
    width: 460px;
}

.section_img2 {
    background-image: url("../img/section2.png");
    height: 280px;  
    width: 460px;
    margin-left: 20px;
}

.section_hhh {
    margin-top: 157px;
    margin-left: 20px;
    font-size: 27px;
}

.section_p2 {
    margin-top: 6px;
    margin-left: 20px;
    font-size: 14px;
}

.section_akk {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.section_p3 {
    margin-left: 10px;
}

.section_div_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 17px;
    margin-left: 20px;
}

.sect_hr {
    width: 295.98px;
    height: 1px;
    color: #DEDEDE;
    margin-top: 32px;
}

.section_h3 {
    margin-top: 14px;
    margin-left: 13px;
    font-size: 16px;
}

.section_logo1 {
    width: 26px;
    height: 26px;
    border-radius: 60px;
}

.section_001 {
    display: flex;
    align-items: center;
}

.section_002 {
    display: flex;
    align-items: center;
    margin-top: 6px;
}

.section_div_image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_div_image_1 {
    margin: 20px;
}

.section_p5 {
    margin-top: 6px;
    font-size: 13px;
}

.section_p4 {
    margin-left: 100px;
}

.section_p3 {
    margin-left: 10px;
    transition: .5s;
}

.section_p3:hover {
    color: blue;
}

footer {
    margin-top: 108px;
    color: #fff;
    background-image: url("../img/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}



.footer_a1 {
    color: #fff;
    border: 1px solid #FFFFFF47;
    padding: 15px;
    width: 125px;
    text-align: center;
    transition: .8s;
}

.footer_a1:hover {
    background-color: red;
}

.footer_h2 {
    margin-top: 81px;
    font-size: 25px;
    margin-left: 500px;
}

.footer_input {
    border: 10px solid #fff;
    margin-left: 330px;
    margin-top: 20px;
    padding: 10px;
    width: 375px;
    height: 50px;
}

.footer_h {
    color: white;
    font-family: sans-serif;
    font-weight: 400;
    padding: 10px 0 10px;
}

.footer_a {
    margin: 10px;
    transition: .3s;
    cursor: pointer;
    color: #fff;
}

.footer_a:hover {
    color: #dd783f;
}

.navbar3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("../img/background2.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 1000px;
    height: 50px;
    margin-top: 20px;
    padding: 50px;
    margin-left: 80px;
}